aiohttp~=3.9.1
beautifulsoup4~=4.12.2
diskcache~=5.6.3
fastapi~=0.108.0
pandas~=2.1.4
tqdm~=4.66.1
lxml
uvicorn~=0.25.0
spacy~=3.7.2
starlette~=0.32.0.post1
aiofiles~=23.2.1
transformers
geopy~=2.4.1

# Komendy preinstalacyjne dla spaCy
spacy
pl_core_news_sm
